version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: intrarp_app
    volumes:
      - ./:/var/www/html
    environment:
      APACHE_DOCUMENT_ROOT: /var/www/html
    ports:
      - "8090:80"
    restart: unless-stopped
