:root {
  --stat-bg-color: var(--body-bg-lighter);
}

.pagination .page-link {
  --bs-pagination-color: var(--white);
  --bs-link-color: var(--bs-pagination-color);
  --bs-pagination-hover-color: var(--gray);
  --bs-pagination-active-bg: var(--main-color);
  --bs-pagination-active-border-color: var(--main-color);
  --bs-pagination-focus-color: var(--bs-pagination-hover-color);
  --bs-pagination-hover-bg: var(--body-bg);
  --bs-pagination-focus-bg: var(--bs-pagination-hover-bg);
}

button.btn,
input.btn,
a.btn,
span.badge {
  border-radius: 0;
}

textarea.form-control,
input.form-control,
select.form-select {
  border-radius: 0;
}

.modal .modal-content {
  border-radius: 0;
}

.intra__tile {
  background-color: var(--body-bg-lighter);
  box-shadow: var(--bs-box-shadow) !important;
  border-radius: 0;
  border: 1px solid var(--darkgray) !important;
}

#intra-nav {
  opacity: 1;
}
#intra-nav .dropdown-menu {
  --bs-dropdown-link-active-bg: var(--main-color);
  border-radius: 0 !important;
}
#intra-nav .navbar-nav .nav-item,
#intra-nav .navbar-nav .nav-link {
  margin-left: 0.15rem;
  margin-right: 0.15rem;
}
#intra-nav .nav-link {
  border-bottom-color: transparent;
}
#intra-nav .nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: var(--white);
}
#intra-nav .nav-link.active i {
  color: var(--white);
}
#intra-nav .nav-link.active:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
#intra-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

#qmActionsModal .modal-content,
#qmLogModal .modal-content {
  background-color: var(--body-bg);
  border: 1px solid var(--darkgray);
}
#qmActionsModal .modal-header,
#qmLogModal .modal-header {
  border-bottom: 1px solid var(--darkgray);
  background-color: var(--body-bg-darker);
}
#qmActionsModal .modal-body,
#qmLogModal .modal-body {
  background-color: var(--body-bg);
}
#qmActionsModal .edivi__box,
#qmLogModal .edivi__box {
  background: #333333;
  margin: 10px 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  border-radius: 0;
  padding: 1rem;
}
#qmActionsModal .edivi__box.edivi__log-comment,
#qmLogModal .edivi__box.edivi__log-comment {
  background: #333333;
  color: #a2a2a2;
  padding: 12px;
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 10px !important;
}
#qmActionsModal .edivi__box.edivi__log-comment i,
#qmLogModal .edivi__box.edivi__log-comment i {
  padding: 6px 9px;
  border-radius: 2px;
  background: #a2a2a2;
  color: #333333;
  opacity: 0.6;
  font-size: 1rem !important;
}
#qmActionsModal .edivi__admin,
#qmLogModal .edivi__admin {
  background: transparent;
  border-radius: 0;
  color: #fff;
  border: 0;
  font-size: 1.2rem;
}
#qmActionsModal .edivi__admin:focus,
#qmLogModal .edivi__admin:focus {
  box-shadow: 0 0 0 1px #5783cf !important;
  background: transparent;
  color: #fff;
}
#qmActionsModal .edivi__admin[readonly],
#qmLogModal .edivi__admin[readonly] {
  box-shadow: none !important;
  caret-color: transparent;
  user-select: none;
  pointer-events: none;
  cursor: default;
}
#qmActionsModal .edivi__admin option,
#qmLogModal .edivi__admin option {
  background: #333333;
  color: #fff;
}
#qmActionsModal .edivi__iconlink-button,
#qmLogModal .edivi__iconlink-button {
  background: none;
  border: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
  text-align: center;
}
#qmActionsModal .edivi__iconlink-button:hover,
#qmLogModal .edivi__iconlink-button:hover {
  color: inherit;
  text-decoration: none;
}
#qmActionsModal .edivi__iconlink-button:focus,
#qmLogModal .edivi__iconlink-button:focus {
  outline: none;
}

.intra__stats-card {
  background-color: var(--stat-bg-color) !important;
  box-shadow: var(--bs-box-shadow) !important;
  border-radius: 0 !important;
  border: 0 !important;
  position: relative;
  overflow: hidden;
}
.intra__stats-card .card-title {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: rgba(255, 255, 255, 0.85) !important;
  margin: 0 !important;
}
.intra__stats-card .card-text {
  font-size: 2.75rem;
  font-weight: bold;
  color: var(--white);
  margin: 0 !important;
}
.intra__stats-card i {
  position: absolute;
  right: -1.5rem;
  bottom: -1rem;
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.25);
}
.intra__stats-card.intra__stats-users {
  --stat-bg-color: #D10000;
}
.intra__stats-card.intra__stats-workers {
  --stat-bg-color: #B80000;
}
.intra__stats-card.intra__stats-enotf {
  --stat-bg-color: #8F0000;
}
.intra__stats-card.intra__stats-documents {
  --stat-bg-color: #660000;
}

/*# sourceMappingURL=admin.css.map */
