@charset "UTF-8";
.ma-basedata,
.ma-comments,
.ma-logs,
.ma-documents {
  background-color: var(--body-bg-lighter);
  box-shadow: var(--bs-box-shadow) !important;
  border-radius: 0;
  border: 1px solid var(--darkgray) !important;
  position: relative;
}

.ma-logs {
  background-color: var(--bs-secondary-bg);
  border-color: var(--bs-border-color) !important;
}

.ma-logs details summary {
  font-weight: 600;
  color: var(--bs-secondary-color);
  user-select: none;
}

.ma-logs details summary::-webkit-details-marker {
  color: var(--bs-secondary-color);
}

.ma-logs .comment {
  font-size: 0.9rem;
  padding: 8px;
  margin-bottom: 8px;
}

.ma-logs .comment p {
  margin-bottom: 0;
}

.comment-container,
.log-container,
.comment-settings {
  margin: 0 auto;
  max-width: 95%;
  width: 95%;
}

.comment {
  background-color: #dee0e3;
  color: var(--black);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0;
  position: relative;
  overflow: hidden;
}
.comment > p {
  margin-bottom: 0;
  max-width: 86%;
}
.comment a {
  text-decoration-style: dotted;
  color: inherit;
}
.comment small {
  opacity: 0.5;
}

.comment::after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 0;
  font-weight: 900;
  font-size: 1.7rem;
  height: 100%;
  min-width: 12%;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 7 Free";
}

.comment.note::after {
  content: "";
  background-color: #acadb0;
}

.comment.positive {
  background-color: #b7d0b3;
}
.comment.positive::after {
  content: "";
  background-color: #7fb257;
}

.comment.negative {
  background-color: #e2a2a7;
}
.comment.negative::after {
  content: "";
  background-color: #ce646d;
}

.comment.rank {
  background-color: #b4ddf9;
}
.comment.rank::after {
  content: "";
  background-color: #55b3f1;
}

.comment.modify {
  background-color: #fed69a;
}
.comment.modify::after {
  content: "";
  background-color: #fdad35;
}

.comment.document {
  background-color: #feafea;
}
.comment.document::after {
  content: "";
  background-color: #fd49d0;
}

.comment.created {
  background-color: #a4f4f3;
}
.comment.created::after {
  content: "";
  background-color: #14a3a1;
}

#fd-container .abteilung-container > span:not(:last-child) {
  margin-right: 5px;
}

.abteilung {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: var(--bs-body-color);
  margin: 8px 0;
}
.abteilung:before, .abteilung:after {
  content: "";
  flex-grow: 1;
  background: var(--bs-body-color);
  height: 1px;
  font-size: 0;
  line-height: 0;
  margin: 0 8px;
}

.rx-editor {
  color: black;
}

#inhalt,
.ck-editor {
  color: #000;
}